dotfiles

*.log
*.DS_Store

settings/private/
bin/private/
installers/private/

settings/vim/sessions/

settings/zsh/zsh
settings/zsh/zprezto/zprezto

bin/work-in-progress/

installers/atomfile
settings/atom/packages/
settings/atom/
