dotfiles


*.log
*.DS_Store

settings/zsh/zsh
settings/zsh/zprezto/zprezto


settings/atom/packages/

settings/vim/sessions/

start_hydrogen\.py

bin/work-in-progress/

installers/atomfile

installers/install-python-addons

settings/atom/

settings/gqrx/
